<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" th:value="${room.id}" type="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">房间编号：</label>
                            <div class="col-sm-8">
                                <input id="roomNo" name="roomNo" th:value="${room.roomNo}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">房间类型：</label>
                            <div class="col-sm-8">
                                <select data-placeholder="--选择房间类型--" name="roomType" id="roomType"
                                        class="form-control chosen-select" tabindex="2" required>
                                    <option th:each="roomType : ${roomTypes}" th:value="${roomType.value}"
                                            th:text="${roomType.name}" th:selected="${roomType.value } == ${room.roomType}" ></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">楼层：</label>
                            <div class="col-sm-8">
                                <select data-placeholder="--选择楼层--" name="floor" id="floor"
                                        class="form-control chosen-select" tabindex="2" required>
                                    <option th:each="floor : ${floors}" th:value="${floor.value}"
                                            th:text="${floor.name}" th:selected="${floor.value } == ${room.floor}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">房间状态：</label>
                            <div class="col-sm-8">
                                <select data-placeholder="--选择状态--" name="roomState" id="roomState"
                                        class="form-control chosen-select" tabindex="2" required>
                                    <option th:each="roomState : ${roomStates}" th:value="${roomState.value}"
                                            th:text="${roomState.name}" th:selected="${roomState.value } == ${room.roomState}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">标价：</label>
                            <div class="col-sm-8">
                                <select data-placeholder="--选择标价--" name="price" id="price"
                                        class="form-control chosen-select" tabindex="2" required>
                                    <option value="50" th:selected="${room.price ==50 }">50元</option>
                                    <option value="60" th:selected="${room.price ==60 }">60元</option>
                                    <option value="70" th:selected="${room.price ==70 }">70元</option>
                                    <option value="80" th:selected="${room.price ==80 }">80元</option>
                                    <option value="90" th:selected="${room.price ==90 }">90元</option>
                                    <option value="100" th:selected="${room.price ==100 }">100元</option>
                                    <option value="110" th:selected="${room.price ==110 }">110元</option>
                                    <option value="120" th:selected="${room.price ==120 }">120元</option>
                                    <option value="130" th:selected="${room.price ==130 }">130元</option>
                                    <option value="140" th:selected="${room.price ==140 }">140元</option>
                                    <option value="150" th:selected="${room.price ==150 }">150元</option>
                                    <option value="160" th:selected="${room.price ==160 }">160元</option>
                                    <option value="170" th:selected="${room.price ==170 }">170元</option>
                                    <option value="180" th:selected="${room.price ==180 }">180元</option>
                                    <option value="190" th:selected="${room.price ==190 }">190元</option>
                                    <option value="200" th:selected="${room.price ==200 }">200元</option>
                                    <option value="220" th:selected="${room.price ==220 }">220元</option>
                                    <option value="240" th:selected="${room.price ==240 }">240元</option>
                                    <option value="260" th:selected="${room.price ==260 }">260元</option>
                                    <option value="280" th:selected="${room.price ==280 }">280元</option>
                                    <option value="300" th:selected="${room.price ==300 }">300元</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/xjbg/room/edit.js">
</script>
</body>
</html>
