<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<script>
</script>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                            <div class="row " style="padding: 8px 0px">
                                <div class="col-sm-6">
                                    <label class="col-sm-3 control-label" style="width: 30%">房间号：</label>
                                    <input id="roomNo" style="width: 68%" disabled="true" name="roomNo"
                                           th:value="${room.roomNo}" class="form-control" type="text">
                                </div>
                                <div class="col-sm-6">
                                    <label class="col-sm-3 control-label" style="width: 30%">房间类型：</label>
                                    <select name="roomType" id="roomType" style="width: 68%" disabled="true"
                                            class="form-control chosen-select" tabindex="2" required>
                                        <option th:each="roomType : ${roomTypes}" th:value="${roomType.value}"
                                                th:text="${roomType.name}"
                                                th:selected="${roomType.value } == ${room.roomType}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row" style="padding: 8px 0px">
                                <div class="col-sm-6">
                                    <label class="col-sm-3 control-label" style="width: 30%">入住类型：</label>
                                    <select name="orderType" id="orderType" style="width: 68%"
                                            class="form-control chosen-select" tabindex="2" required>
                                        <option th:each="orderType : ${orderTypes}" th:value="${orderType.value}"
                                                th:text="${orderType.name}"></option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="col-sm-3 control-label" style="width: 30%">价格：</label>
                                    <input id="price" style="width: 68%"  name="price"
                                           th:value="${room.price}" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="row" style="padding: 8px 0px">
                                <div class="col-sm-6">
                                    <button id="addProduct" class="btn btn-info" >添加商品</button>
                                </div>
                            </div>
                            <div class="col-sm-12" >
                                <table class="table table-condensed table-bordered" width="100%">
                                    <thead>
                                    <tr class="success">
                                        <th width="30%">商品名称</th>
                                        <th width="30%">图片</th>
                                        <th width="30%">数量</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr >
                                        <th> <select  name="orderType"  style="width: 68%" onchange="add_product($(this));"
                                                      class="form-control chosen-select" tabindex="2" required>
                                            <option value="">--选择商品--</option>
                                            <option th:each="product : ${products}" th:value="${product.id}"
                                                    th:text="${product.productName}">
                                            </option>
                                        </select></th>
                                        <th >
                                            <img src='' alt='[找不到图片]' width="80px" >
                                        </th>
                                        <th >
                                            <div style="width: 100% ;height: 100% ">
                                                <a class="btn " href="#" mce_href="#" onclick="subtract($(this))"><i class="fa fa-minus"></i></a>
                                                <input type="text" style="width: 70px " value="0" >
                                                <a class="btn   " href="#" mce_href="#"  onclick="add($(this))"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button id="submit" type="submit" class="btn btn-primary">提交</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script th:inline="javascript">
    var products = [[${products}]];
</script>
<script type="text/javascript" src="/js/appjs/xjbg/room/operation.js">
</script>
</body>
</html>
