<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<title>开房管理</title>
<style type="text/css">
	.roomClass{
		height: 200px;
		width: 100%;
	}
	.room{
		padding-left:40px;
	}
</style>
<body class="gray-bg">
	<h1>开房列表</h1>

	<script th:inline="javascript">
        var rooms = [[${rooms}]];
        var roomTypes = [[${roomTypes}]];
	</script>
	<div th:include="include :: footer"></div>
	<script type="text/javascript"  src="/js/appjs/xjbg/room/roomMng.js"></script>
</body>
</html>