<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<title>开房管理</title>
<style type="text/css">
	.roomClass{
		height: 200px;
		width: 100%;
	}
	.room{
		padding-left:40px;
	}
	.title{
		float: left;
	}
	.hint{
		width: 20px;
		height: 20px;
		background-color: red;
	}
	.content{
		display:-webkit-flex; display:flex;
	}   /*Flex布局*/
</style>
<body class="gray-bg">
<div style="align-content: center; " >
		<!--<div style="float: left;align-content: center;"><h1>开房列表</h1></div>-->
		<div style="float: left;" class="hint"></div>
		<div style="float: left;">:空房</div>
</div>


	<script th:inline="javascript">
        var rooms = [[${rooms}]];
        var roomTypes = [[${roomTypes}]];
	</script>
	<div th:include="include :: footer"></div>
	<script type="text/javascript"  src="/js/appjs/xjbg/room/roomMng.js"></script>
</body>
</html>