<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<title>修改开房信息</title>
<script>
</script>
<style>
    li {
        list-style:none;
    }
    a {
        text-decoration:none;
    }
    img {
        border:none;
    }
    .box {
        margin-left:20%;

    }
    .winBox {
        width:70%;
        height:40px;
        overflow:hidden;
        position:relative;
        /*background:pink;*/
        background:url("../../../static/img/timg.jpg") no-repeat;
    }
    .scroll {
        /*width的大小是根据下面li的长度和多少个li而定的，需注意！*/
        width:auto;
        position:absolute;
        left:550px;
        top:0px;
    }
    .scroll li {
        width: 550px;
        float:left;
        line-height:40px;
        text-align:center;
    }

</style>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                            <div class="box">
                                <div class="winBox">
                                    <ul class="scroll">
                                        <li><h3><a href="#" id="gd">入住天数:days天&emsp;&emsp;预计退房时间:outTime</a></h3></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row " style="padding: 8px 0px">
                                <input id="id" name="id" th:value="${order.id}" type="hidden">
                                <div class="col-sm-6">
                                    <label class="col-sm-3 control-label" style="width: 30%">房间号：</label>
                                    <input id="roomNo" style="width: 68%" disabled="true" name="roomNo"
                                           th:value="${room.roomNo}" class="form-control" type="text">
                                </div>
                                <div class="col-sm-6">
                                    <label class="col-sm-3 control-label" style="width: 30%">房间类型：</label>
                                    <select name="roomType" id="roomType" style="width: 68%" disabled="true"
                                            class="form-control chosen-select " tabindex="2" required>
                                        <option th:each="roomType : ${roomTypes}" th:value="${roomType.value}"
                                                th:text="${roomType.name}"
                                                th:selected="${roomType.value } == ${room.roomType}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row" style="padding: 8px 0px">
                                <div class="col-sm-6">
                                    <label class="col-sm-3 control-label" style="width: 30%">入住类型：</label>
                                    <select name="orderType" id="orderType" style="width: 68%"
                                            onchange="changePrice($(this));"
                                            class="form-control chosen-select" tabindex="2" required>
                                        <option th:each="orderType : ${orderTypes}" th:value="${orderType.value}"
                                                th:text="${orderType.name}"
                                                th:selected="${orderType.value } == ${order.orderType}"></option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label class="col-sm-3 control-label" style="width: 30%">价格：</label>
                                    <input id="price" style="width: 68%" name="price" onblur="calBalance();"
                                           th:value="${order.price}" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="row" style="padding: 8px 0px">
                                <div class="col-sm-6">
                                    <label class="col-sm-3 control-label" style="width: 30%">已付款：</label>
                                    <input id="paidUp" style="width: 68%" name="paidUp" onblur="calBalance();" th:value="${order.paidUp}"
                                           class="form-control" type="text">
                                </div>
                                <div class="col-sm-3">
                                    <label class="col-sm-7 control-label">总消费：</label>
                                    <h2 id="countPrice" style="color: #00B83F"></h2>
                                </div>

                                <div class="col-sm-3">
                                    <label class="col-sm-6 control-label">余额：</label>
                                    <h2 id="balance" style="color: #00B83F"></h2>
                                </div>
                            </div>
                                <div class="col-md-12">
                                    <button id="addProduct" class="btn btn-info" style="float: none;">添加商品</button>
                                    <button id="checkOut" class="btn btn-info red-bg" style="float: right;">退房结算</button>
                                    <button id="continue" class="btn btn-info" onclick="renew()" style="float: right;display: none;margin-right: 10px" >&emsp;续住&emsp;</button>
                                </div>
                            <div class="col-sm-12">
                                <table class="table table-condensed table-bordered" width="100%">
                                    <thead>
                                    <tr class="success">
                                        <th width="30%">商品名称</th>
                                        <th width="30%">图片</th>
                                        <th width="30%">数量</th>
                                    </tr>
                                    </thead>
                                    <tbody id="pTable">
                                    <tr>
                                        <th hidden="true"><input class="orderItemId"/></th>
                                        <th><select name="orderType" style="width: 68%" onchange="add_product($(this));"
                                                    class="form-control chosen-select productId " tabindex="2" required>
                                            <option value="">--选择商品--</option>
                                            <option th:each="product : ${products}" th:value="${product.id}"
                                                    th:text="${product.productName}">
                                            </option>
                                        </select></th>
                                        <th>
                                            <img class="productPic" src='' alt='[找不到图片]' width="80px">
                                        </th>
                                        <th>
                                            <div style="width: 100% ;height: 100% ">
                                                <a class="btn " href="#" mce_href="#" onclick="subtract($(this))"><i
                                                        class="fa fa-minus"></i></a>
                                                <input class="number" type="text" style="width: 70px " onblur="calBalance();" value="0">
                                                <a class="btn   " href="#" mce_href="#" onclick="add($(this))"><i
                                                        class="fa fa-plus"></i></a>
                                                <button class="btn btn-danger" onclick="delProduct($(this))">删除</button>
                                            </div>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 col-md-offset-5 ">
                                <button id="submit" onclick="upload()" class="btn btn-primary center-block " style="width: 100%">提交</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 退房结算界面模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 550px;">
            <form class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">退房结算</h4>
                </div>
                <div class="modal-body ">
                    <div class="form-group" id="checkOutForm" style="width: 100%;">
                        <input  id="orderId" th:value="${order.id}" type="hidden">
                        <div class=" row" style="margin-bottom:7px;">
                            <label style="text-align: right;" for="checkOutUser"
                                   class="col-sm-3 control-label content-label ">操作人:</label>
                            <div class="col-md-8">
                                <select id="checkOutUser" name="checkOutUser" class="form-control">
                                    <!--<option value="">-&#45;&#45;请选择-&#45;&#45;</option>-->
                                    <option th:each="optionUser : ${optionUsers}"
                                            th:value="${optionUser.value}" th:text="${optionUser.name}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class=" row">
                            <label  style="text-align: right;"
                                   class="col-sm-3 control-label content-label ">是否赊账:</label>
                            <div class="col-sm-8">
                                <select id = 'isDebt' name="" lay-search="" class="form-control">
                                    <option value="1">已结清</option>
                                    <option value="2">赊账</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="checkOutSubmit()">确认退房</button>
                </div>
            </form>
    </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</div>
<div th:include="include::footer"></div>
<script th:inline="javascript">
    var products = [[${products}]];
    var room = [[${room}]];
    var order = [[${order}]];
    $(function(){
        //判断如果当前日期是开房时间的第二天，则显示续住按钮
        var createTime  = new Date(Date.parse(order.createTime));//开房日期
        var current = new Date();//当前日期
        if(createTime.getDate()+(order.days-1)!=current.getDate()){//getDate 获取本月的日
            $("#continue").show();
        }
        //计算天数和退房时间
        var text  = $("#gd").text();
        text =  text.replace("days",order.days).replace("outTime",order.outTime);
        $("#gd").text(text);
        var goLeftNum = 550;
        function goLeft() {
            //goLeftNum >b 时销毁ul
            //goLeftNum>b-a 时 第二个div出现
            //750是根据你给的尺寸，可变的
            if (goLeftNum == -550) {
                goLeftNum = 550;
            }
            goLeftNum -= 1;
            $(".scroll").css({
                left: goLeftNum
            })
        }
        //设置滚动速度
        var timer = setInterval(goLeft, 20);
        //设置鼠标经过时滚动停止
        $(".box").hover(function() {
                clearInterval(timer);
            },
            function() {
                timer = setInterval(goLeft, 20);
            })
    });

</script>
<script type="text/javascript" src="/js/appjs/xjbg/order/modification.js">

</script>
</body>
</html>
